div.container{
    width: 380px;
    height: 250px;
    background-color: white;
    border: 1px solid rgb(122, 102, 235);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,auto);
    font-family: Verdana;
}
span.details{
    grid-column: 1/-1;
    margin: 1px;
}

span.user-info{
    grid-column: 1/-1;
    justify-self: center;
    font-size: 22px;
    font-weight: 700;
    color: rgb(113, 43, 226);
    margin:5px;
}

div.container:hover{
    box-shadow: 4px 4px 4px rgb(122, 43, 226);
}

button{
    border: 1px solid white;
    border-radius: 0px;
    padding: 3px;
    margin: 7px;
    background-color: rgb(123, 60, 223);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

button.update{
    grid-column: 1/-1;
}

input[type=text]{
    width: 200px;
    border:none;
    border-bottom: 2px solid rgb(123, 60, 223);
}

input:focus{
    outline: none;
}

.info-name{
    font-size: 20px;
    color:rgb(112, 60, 223) ;
    font-weight: 600;
}
.info{
    font-size: 18px;
    color:rgb(10, 0, 100) ;
    font-weight: 400;
}